<div class="jumbotron">
	<center>
		<h1>Welcome to Chris' Pizza</h1>

		<img src="https://s-media-cache-ak0.pinimg.com/564x/b9/af/94/b9af94f06bf1f20630c2031992493505.jpg">
		<br>


		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>